#search-result{
	float:left;
	width: 40em;
	height: 50em;
}

#question-setting{
	float: right;
	width: 40em;
	height: 50em;
}

#question{
	width: 30em;
}

.choice-block{
	height: 5em;
}

.choice{
	width: 20em;
}

.player{
	padding-left: 5em;
}